{% extends "base.html" %}
{% load static %}

{% block estilos_adicionais %}
<link rel="stylesheet" href="{% static 'estilo_home.css' %}">
{% endblock estilos_adicionais %}

{% block conteudo %}

<div id="img">
    <img src="{% static 'imagens/imagem_fundo(2).png' %}" alt="" width="100%">
    <div id="video" >
    <iframe  width="620" height="405" style="border-radius: 10px;" src="https://www.youtube.com/embed/3hng-hmSv2Y?si=BDfDYYkH6Ur-JvRq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
</div>
<h1>Página home</h1>

<h2>teste</h2>
<div id="carrossel">
    
<div class="cursos">    Nome do Curso </div>
<div class="cursos">    Nome do Curso </div>
<div class="cursos">    Nome do Curso </div>
<div class="cursos">    Nome do Curso </div>
<div class="cursos">    Nome do Curso </div>

</div>
    
{% endblock conteudo %}
