{% extends "base.html" %}

{% block conteudo %}
 <h1>Página home</h1>
 <h2>teste</h2>

 <section>
    



    <
          
           <article>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta sunt delectus vitae. Vero assumenda ipsam, nulla ad nemo sapiente qui officia dolorum, doloribus atque, maxime quisquam aspernatur recusandae ut.
       
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestias unde quis voluptate quidem dolorum maiores eligendi esse. Quo est commodi esse quos suscipit aperiam asperiores sint obcaecati dicta ipsum?
           </article>
           <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dignissimos iusto culpa eius exercitationem quia libero accusantium consequatur consectetur, dolorem voluptatem voluptatibus non eligendi quam ut, sit omnis debitis optio?
           
               </article>
              
               <article>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta sunt delectus vitae. Vero assumenda ipsam, nulla ad nemo sapiente qui officia dolorum, doloribus atque, maxime quisquam aspernatur recusandae ut.
           
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestias unde quis voluptate quidem dolorum maiores eligendi esse. Quo est commodi esse quos suscipit aperiam asperiores sint obcaecati dicta ipsum?
               </article>
                  

 </section>
 <section>
    <article>
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dignissimos iusto culpa eius exercitationem quia libero accusantium consequatur consectetur, dolorem voluptatem voluptatibus non eligendi quam ut, sit omnis debitis optio?

    </article>
   
    <article>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta sunt delectus vitae. Vero assumenda ipsam, nulla ad nemo sapiente qui officia dolorum, doloribus atque, maxime quisquam aspernatur recusandae ut.

  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestias unde quis voluptate quidem dolorum maiores eligendi esse. Quo est commodi esse quos suscipit aperiam asperiores sint obcaecati dicta ipsum?
    </article>

    <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dignissimos iusto culpa eius exercitationem quia libero accusantium consequatur consectetur, dolorem voluptatem voluptatibus non eligendi quam ut, sit omnis debitis optio?
       
           </article>
          
           <article>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta sunt delectus vitae. Vero assumenda ipsam, nulla ad nemo sapiente qui officia dolorum, doloribus atque, maxime quisquam aspernatur recusandae ut.
       
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestias unde quis voluptate quidem dolorum maiores eligendi esse. Quo est commodi esse quos suscipit aperiam asperiores sint obcaecati dicta ipsum?
           </article>
           <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dignissimos iusto culpa eius exercitationem quia libero accusantium consequatur consectetur, dolorem voluptatem voluptatibus non eligendi quam ut, sit omnis debitis optio?
           
               </article>
              
               <article>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta sunt delectus vitae. Vero assumenda ipsam, nulla ad nemo sapiente qui officia dolorum, doloribus atque, maxime quisquam aspernatur recusandae ut.
           
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia molestias unde quis voluptate quidem dolorum maiores eligendi esse. Quo est commodi esse quos suscipit aperiam asperiores sint obcaecati dicta ipsum?
               </article>
                  

 </section>
{% endblock conteudo %}